@import 'mixins/colors.scss', 'mixins/mixins.scss', 'mixins/fonts.scss';

.accordion {
  width: 95%;
  height: 130px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 2px;
  border: solid white;
  cursor: pointer;
}

.accordion-rollout {
  height: 300px;
  margin: 0 auto;
  width: 95%;
  border: solid white;
  border-radius: 2px;
}

.accordion-sports-logo {
  width: 30%;
  height: 124px;
  object-fit: contain;
  float: left;
}

.accordion span {
  margin-left: 40px;
  float: left;
}

.accordion-btn {
  float: right !important;
  margin-right: 20px;
}

.accordion-sports-badge {
  height: 294px;
}

.accordion-sports-badge-badge {
  height: 250px;
  margin: 25px;
  object-fit: contain;
}

.accordion-team-description {
  font-size: x-large;
}

.accordion-link {
  height: 294px;
  text-align: center;
}

.accordion-link-btn {
  margin-top: 5%;
}

.accordion-link-btn i {
  font-size: 600%;
}
