@import 'mixins/colors.scss', 'mixins/mixins.scss', 'mixins/fonts.scss';

.home-header-title {
  border-bottom: solid 4px;
}

.home-header-title h1 {
  color: $mainColor;
  background: white;
  padding: 10px 0;
}
