@import 'mixins/colors.scss', 'mixins/mixins.scss', 'mixins/fonts.scss';

.search-title {
  color: $mainColor;
  padding-left: 30px;
  border-radius: 5px;
}

.search-btn {
  height: 45px;
  width: 100%;
  padding-top: 5px;
  font-size: 25px;
  font-family: $title;
}

.search-data h5 {
  line-height: normal;
}
